<footer>
    <div>
        <div class="container">
            <div class=" mobileLogoSlogan d-flex flex-column ">
                <a href="javascript:;" class="logo">
                    <img src="./assets/images/header_footer/footer_logo.png" alt="" class="">
                </a>
                <h6>
                    手工的溫暖，品牌的堅持
                </h6>
            </div>
        </div>
    </div>
    <div class="footerBorder">
        <div class="container d-flex justify-content-between ">
            <div class="logoSlogan d-flex flex-column me-5 wwe">
                <a href="javascript:;" class="logo">
                    <img src="assets/images/header_footer/footer_logo.png" alt="" class="">
                </a>
                <p>
                    手工的溫暖，品牌的堅持
                </p>
            </div>
            <div class="row ms-5 ">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12  flex-column">
                    <h6 class="h6 my-3">網站地圖</h6>
                    <a href="javascript:;">商品總覽</a>
                    <a href="javascript:;">最新消息</a>
                    <a href="javascript:;">關於拾柒</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12  flex-column">
                    <h6 class="h6 my-3">幫助/政策</h6>
                    <a href="javascript:;">服務條款</a>
                    <a href="javascript:;">隱私政策</a>
                    <a href="javascript:;">退貨政策</a>
                    <a href="javascript:;">防詐騙宣導</a>
                </div>
                <div class="service col-xl-3 col-lg-3 col-md-12 col-sm-12  flex-column flex-wrap">
                    <h6 class="h6 my-3">客戶服務</h6>
                    <a href="javascript:;">常見問題</a>
                    <a href="javascript:;">退換貨須知</a>
                    <a href="javascript:;">訂貨進度查詢</a>
                    <a href="javascript:;">折價卷說明</a>
                    <a href="javascript:;">品牌合作窗口</a>
                </div>
                <div class=" footerIcon col-xl-3 col-lg-3 col-md-12 col-sm-12  flex-column justify-content-around ">
                    <h6 class="h6 my-3 ">聯絡我們</h6>
                    <div class="d-flex gap-4 ">
                        <a href="#"><img src="assets/images/header_footer/Line (dark).png" alt=""></a>
                        <a href="javascript:;"><img src="assets/images/header_footer/mail 1.png" alt=""></a>
                        <a href="javascript:;"><img src="assets/images/header_footer/Facebook (B&W).png" alt=""></a>
                        <a href="javascript:;"><img src="assets/images/header_footer/Instagram(B&W).png" alt=""></a>
                    </div>
                    <p class="">seventeen17@gmail.com</p>
                </div>
            </div>

        </div>
    </div>
    <div class="copyrightBorder">
        <div class="container">
            <div class="copyright d-flex justify-content-center ">
                <p><img src="assets/images/header_footer/copyright.png" alt=""></p>
                <p>seventeen 2024</p>
            </div>
        </div>
    </div>
</footer>
