<header>
    <div class="container-fluid">
        <div class="header">
            <a href="#" class="pcLogo">
                <img src="assets/img/pc_logo.png" alt="">
            </a>
            <div class="mobileLogo">
                <a href="#" class="">
                    <img src="assets/img/mobile_logo.png" alt="">
                </a>
            </div>
            <div class="mobileIcon">
                <a href="#" class="menuBTN">
                    <img src="assets/img/search.svg" alt="">
                </a>
                <a href="#" class="menuBTN forJs">
                    <img src="assets/img/align-justify.png" alt="">
                </a>
            </div>
            <div class="navBAR">
                <div class="mobileList">
                    <a href="#" class="mobileLogo">
                        <img src="assets/img/mobile_logo.png" alt="">
                    </a>
                    <a href="#" class="closeBTN">
                        <img src="assets/img/x.png" alt="">
                    </a>
                </div>
                <ul class="pcNav">
                    <li><a href="#" class="navIcon"><img src="assets/img/search.png" alt=""></a></li>
                    <li><a href="#" class="navIcon"><img src="assets/img/shopping-cart.png" alt=""></a></li>
                    <li><a href="#" class="logInBtn">註冊/登入</a></li>
                </ul>
                <ul class="mobileNav">
                    <li><a href="#">商品總覽</a></li>
                    <li><a href="#">嚴選品牌</a></li>
                    <li><a href="#">最新消息</a></li>
                    <li><a href="#">關於拾柒</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class=" secondaryNav ">
    <ul class="list ">
        <li><a href="#" class="h6">商品總覽</a></li>
        <li><a href="#" class="h6">嚴選品牌</a></li>
        <li><a href="#" class="h6">最新消息</a></li>
        <li><a href="#" class="h6">關於拾柒</a></li>
        <li><a href="#" class="h6">Q&A</a></li>
    </ul>
</div>
