
nav {
  width: 100%;
  z-index: 9999;
}

header {
  max-width: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

/* .container{
  width: 100%;
  margin: 0 auto;
} */

/*pc*/
@media (min-width:992px) {
  header {
      padding: 0 96px;
      margin-bottom: 1px;
  }
  .mobileLogo {
      display: none;
  }
  .mobileNav {
      display: none;
  }
  .mobileIcon{
      display: none;
  }
  .menuBTN,
  .closeBTN {
      display: none;
  }

  .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
  }

  .navBAR .pcNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* width: 50%; */
      /* border: 1px solid black; */
  }

  .navBAR .pcNav li .navIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin-right: 24px;
  }

  .navBAR .pcNav li .logInBtn {
      width: 130px;
      display: block;
      font-weight: 700;
      font-size: 15px;
      line-height: 1.4;
      background: #F6F2E8;
      color: #484848;
      padding: 12px 32px;
      border-radius: 100px;
  }

  .navBAR .pcNav li a:hover {
      transition: all .6s;
      transform: translateY(5px);
      color: #4848484D;
  }

  .secondaryNav {
      max-width: 100%;
      margin: 0 auto;
      border: 1px solid #4848481A;

  }

  .secondaryNav .list {
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
      /* border: 1px solid black; */

  }

  .list li a {
      display: block;
      color: #484848;
      font-weight: 700;
      text-align: center;
  }
}

@media (max-width:991px) {
  .secondaryNav {
      display: none;
  }

  .header .pcLogo {
      display: none;
  }

  .pcNav {
      display: none;
  }
  header{
      border-bottom: 1px solid #4848481A;
  }
  .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      padding: 16.5px 0;
  }

  .mobileIcon {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .menuBTN {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-size: 24px;
      margin-right: 16px;
  }

  .menuBTN:hover,
  .menuBTN:active {
      background: #F5E9CB;
  }


  .navBAR {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -100%;
      background-color: #F6F2E8;
      display: flex;
      flex-direction: column;
  }

  .mobileList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16.5px 44px;
      padding-bottom: 16.5px;
  }

  .mobileList .closeBTN {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
  }

  .navBAR .mobileNav li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      height: 37px;
      margin: 0 44px;
      padding: 24px 0;
  }

  .navBAR .mobileNav a {
      font-size: 15px;
      line-height: 1.4;
      font-weight: 700;
      color: #484848;
  }
  .navBAR .mobileNav a:hover,.navBAR .mobileNav a:active {
      color: #4848484D;    
}



  /* navBAR 滑入動畫 */
  .navBAR-RUN-IN {
      animation: slider-in 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      /*動畫結束後，保持在最後一個影格狀態*/
  }

  @keyframes slider-in {
      0% {
          top: -100%;
          left: 0;
          opacity: 0;
          /*透明度*/
      }

      100% {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 1;
      }
  }

  /* navBAR 滑出動畫*/
  .navBAR-RUN-OUT {
      animation: slider-out 1s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      /*依據動畫的次數或播放方向，保持在第一個影格或最後一個影格狀態*/
      animation-delay: .3s;
      /*延遲n秒後，再播放動畫*/
  }

  @keyframes slider-out {
      0% {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 1;
          /*透明度*/
      }

      100% {
          left: 0;
          top: -100%;
          opacity: 0;
      }
  }
}