<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="content">
            <div class="Bg">
                <div class="container ">
                    <div class="heart d-flex flex-column  align-items-center">
                        <img src="../assets/images/story/area_logo.png" alt="">
                        <h2 class="pc">拾柒, 以心選物, 傳遞質感與故事</h2>
                        <h2 class="mobile">拾柒, 以心選物<br> 傳遞質感與故事</h2>
                    </div>
                </div>
            </div>
            <div class="areaSecondBg">
                <div class="container areaSecond d-flex flex-column justify-content-center ">
                    <h2>拾柒的誕生</h2>
                    <h3>質感之選 品味之源</h3>
                    <div class="areaSecondBgMobile">
                        <div>
                            <p class="Body-1">在繁忙的現代生活中,拾柒應運而生,專注於挑選全球高品質產品,承載著我們對經典與美學的追求。</p>
                            <p class="Body-1">我們相信,生活的品味源於選擇。每一件進入“拾柒”的商品,從材質到工藝,無不精挑細選。</p>
                            <p class="Body-1">拾柒不僅提供商品,更傳遞生活態度。加入我們, 讓質感融入生活,品味不凡。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="insist">
                <div class="container">
                    <h2>我們的堅持</h2>
                    <ul class="insist-list">
                        <li class="card">
                            <img src="../assets/images/story/time.png" alt="">
                            <h5>經典與永恆<br>時光流轉,經典不變</h5>
                        </li>
                        <li class="card">
                            <img src="../assets/images/story/Pen_holder.png" alt="">
                            <h5>質感與工藝<br>每個細節, 皆工匠精神體現</h5>
                        </li>
                        <li class="card">
                            <img src="../assets/images/story/clay_pot.png" alt="">
                            <h5>可持續與責任<br>尊重自然,關注未來</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="areaThirdBg">
                <div class="container join ">
                    <div class="pc">
                        <h4 class="life">生活的品味源於選擇，每一件進入“拾柒”的商品</h4>
                        <h4>從材質到工藝，無不精挑細選，拾柒不僅提供商品,更傳遞生活態度</h4>
                        <h3 class="join-us">加入我們</h3>
                        <h3>讓質感融入生活,品味不凡</h3>
                    </div>
                    <div class="mobile">
                        <h6 class=" h6 life">生活的品味源於選擇</h6>
                        <h6>每一件進入“拾柒”的商品，從材質到工藝，無不精挑細選，拾柒不僅提供商品,更傳遞生活態度</h6>
                        <h5 class="join-us">加入我們</h5>
                        <h5 class="join-us-t">讓質感融入生活,品味不凡</h5>
                    </div>
                </div>
            </div>
            <div class="container forMobileWhite">
                <div class="nothing"></div>
            </div>
            <div class="Bg">
                <div class="container">
                    <div class="values d-flex flex-column justify-content-between align-items-center">
                        <h2>卓越價值觀</h2>
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <img src="../assets/images/story/values_logo.png" alt="">
                            <h4 class="pc">我們以不變的核心價值,迎接未來的挑戰與機遇<br> 拾柒,將持續為您帶來不凡的生活體驗</h4>
                            <div class="mobile d-flex flex-column justify-content-between align-items-center">
                                <h6>我們以不變的核心價值</h6>
                                <h6>迎接未來的挑戰與機遇</h6>
                                <h6>拾柒, </h6>
                                <h6>將持續為您帶來不凡的生活體驗 </h6>
                            </div>
                            <a href="#" class=" d-flex justify-content-center align-items-center">探索我們的選品</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>